.news-post.mb-5.leading-5
  .news-author.font-serif.text-sm Leo Lewis
  .news-title.font-serif= link_to 'Corporate Japan is bracing itself for change at the BoJ', '#', class: 'text-blue-700 underline'
  .news-time.text-xs.text-gray-500.italic 2 hours ago
