.actions.text-right.mb-4
  = link_to 'Add Note', new_note_path, data: { turbo_frame: 'new-note' }, class: 'button-primary'

= turbo_frame_tag 'new-note'

= turbo_frame_tag :notes do
  - @notes.each do |note|
    = render note
