.actions.text-right
  = link_to 'Add Note', new_note_path, data: { turbo_frame: 'new-note' }, class: 'rounded px-2 py-1 bg-sky-500 text-neutral-50'

= turbo_frame_tag 'new-note'

= turbo_frame_tag :notes do
  - @notes.each do |note|
    = render note
