- delete_url = local_assigns.fetch(:delete_url, nil)

.image.p-2.mr-2.bg-white.rounded.min-w-fit.mb-2.min-h-max
  .flex.pb-2
    .text-xs{ class: 'w-[125px] truncate ...' }= image.filename.base
    - if delete_url
      .ml-auto.pl-2
        = link_to delete_url, data: delete_data_attr, class: 'badge-button-alert badge-small bottom-1 right-1 ml-auto' do
          = svg_icon :xmark, options: { width: '12px' }
  = image_tag image.variant(:thumb), width: 150
