= turbo_frame_tag 'tags-filter', data: { controller: 'tags-filter' } do
  = floki_form_for :filter do |f|
    = f.collection_check_boxes :tags, tags, :first, :last do |b|
      = b.label(class: 'tag') { '#'.html_safe + b.text + b.check_box(class: 'hidden') }
