= turbo_frame_tag dom_id(owner, :tags) do
  .tags
    %span.tag-title Tags:
    = tags.map { |tag| "##{tag.name}" }.join(' ')
    = link_to '+', edit_tags_path(owner.to_global_id), class: 'add-tag-link'
