$album-bg-color: aliceblue;
$header-height: 60px;
$image-size: 65vh;

@keyframes change-image {
  from {
    opacity: 0.4;
  }
}

*[data-controller='album']:focus-visible {
  outline: none;
}

.album{
  overflow: hidden;
  background-color: $album-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

  .album-header {
    height: $header-height;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: end;

    .album-close-btn {
      cursor: pointer;
      margin-right: ($header-height - 24px) / 2;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.5) rotate(180deg);
        transition: transform 0.2s ease-in-out;
      }

      svg {
        color: #001526;
      }
    }
  }

  .album-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: -webkit-fill-available;

    .album-image {
      height: $image-size;
      display: flex;

      img {
        animation: change-image 0.4s;
        max-width: 100%;
        max-height: 100%;
        display: block;
        align-self: center;
      }
    }

    .album-previews {
      display: flex;
      flex-direction: row;
      height: $image-size / 3.5;
      overflow: hidden;
      margin-top: 50px;

      .preview-item {
        width: 100px;
        height: 100%;
        box-sizing: border-box;
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.75);
        cursor: pointer;
        transition: width 0.15s;

        &.active {
          width: 200px;
        }

        img.preview-image {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }

        img.original-image {
          display: none;
        }
      }
    }
  }
}
