$loaderSize: 20px;
$lineWeight: 2px;
$firstColor: #0094d3;
$secondColor: #FF3D00;

.loader {
  width: $loaderSize;
  height: $loaderSize;
  border-radius: 50%;
  display: inline-block;
  border-top: $lineWeight solid $firstColor;
  border-right: $lineWeight solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: $loaderSize;
  height: $loaderSize;
  border-radius: 50%;
  border-bottom: $lineWeight solid $secondColor;
  border-left: $lineWeight solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
