body {
  margin: 0;
  overflow-y: hidden;
}
.album{
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
}
.album .album-image {
  height: 65vh;
}
.album .album-image img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.album .album-previews {
  display: flex;
  flex-direction: row;
  height: 20vh;
  overflow: hidden;
}
.album .album-previews .preview-item {
  width: 100px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 0 10px rgb(255 255 255 / 75%);
}
.album .album-previews .preview-item img {
  max-height: 100%;
  object-fit: contain;
}
.album .album-previews .preview-item:last-child {
  width: 200px;
}
