.container.flash-message-notice
  Lorem ipsum dolor sit amet hac sodales auctor morbi convallis.

.container.flash-message-alert
  Lorem ipsum dolor sit amet hac sodales auctor morbi convallis.

.container.flash-message-info
  Lorem ipsum dolor sit amet hac sodales auctor morbi convallis.
