!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      body {
        background-color: rgba(175, 241, 255, 0.71);
        margin: 0;
        font-family: serif;
      }

      .container {
        max-width: 800px;
        margin: 0 auto;
      }

      .message {
        line-height: 50px;
        font-family: sans-serif;
        color: #fff;
        padding: 0 20px;
        background-color: #6d879a;
      }

      .note {
        padding: 20px;
        border-radius: 3px;
        background-color: white;
      }

      .note h2 {
        margin-top: 0;
      }

      .unsubscribe {
        padding: 15px 20px;
        font-family: sans-serif;
        font-size: 13px;
        text-align: center;
      }

      .unsubscribe, .unsubscribe a {
        color: #667;
      }

  %body
    .container= yield
